.popup__button_disabled {
    opacity: 0.2;
    color: black;
    background: none;
    border: 1px solid black;
    padding-top: 13px;
    padding-bottom: 17px;
    cursor: default;
}

.popup__button_disabled:hover {
    opacity: 0.2;
}